APP_NAME = "Mini-RAG"
APP_VERSION = "0.1.0"
APP_DESCRIPTION = "A mini RAG application built with FastAPI and LangChain."

# Database configuration


#Serice configuration
# For example, if you are using OpenAI's API:
OPENAI_API_KEY = "your-openai-api-key"