APP-NAME = "Mini-RAG"
APP-VERSION = "0.1.0"
APP-DESCRIPTION = "A mini RAG application built with FastAPI"

# Database configuration


#Serice configuration
# For example, if you are using OpenAI's API:
OPENAI-API-KEY = "your-openai-api-key"